CLIENT_GLOBAL_SETTINGS={"APIKey":"","password":"","enterToSend":true}
CLIENT_SESSION_SETTINGS={"title":"","saveSession":true,"APITemperature":0.6,"continuousDialogue":true,"APIModel":"gpt-3.5-turbo"}
CLIENT_DEFAULT_MESSAGE='- update：2023.04.28 17:40 补充了KEY，本站长期免费体验，欢迎推荐给好友~👉[防失联发布页](https://askopenai.cn) 
  - 用户量太大可能卡顿，如需更好的体验,👉[点这里获得独立账号 KEY 使用](https://sourl.cn/38eM4A)
  - 基于 [OpenAI(gpt-3.5-turbo)](https://platform.openai.com/docs/guides/chat) 部署,提问前按下 [[空格]] 选择人物预设。出现 [[error]] 请点右下角清空对话。
  - 用户交流群，欢迎来聊聊👉[QQ频道：Aivesa](https://sourl.cn/qpDRVf) 👉[TG群组](https://t.me/+gJ-GQFE1GN40NGJl) 
  - 用 iPhone 试试这个👉[iOS 召唤 智能Siri Pro](https://github.com/ClarenceDan/chatGPT-Siri-Pro)
  - 支持多个对话，打开对话设置，点击新建对话。在输入框里输入 [[/]][[/]] 或者 [[空格]][[空格]] 可以切换对话，搜索历史消息。
'
CLIENT_MAX_INPUT_TOKENS={"gpt-3.5-turbo":4096,"gpt-4":8192,"gpt-4-32k":32768}
OPENAI_API_BASE_URL=vercel.askopenai.tech
OPENAI_API_KEY=
TIMEOUT=30000
PASSWORD=
SEND_KEY=
SEND_CHANNEL=9
NO_GFW=false